printing_advertisement_solutions/migrations/__pycache__/
printing_advertisement_solutions/migrations/__pycache__/
site_1_printing_advertisement/__pycache__/
home_page/__pycache__/
db.sqlite3
home_page/migrations/__pycache__/
scienco_india_solutions/__pycache__/
site_2_process_instrument/__pycache__/
site_2_process_instrument/migrations/__pycache__/

