
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        {% for information in data %}
          
        
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              
              <span data-purecounter-start="0" data-purecounter-end="{{information.TechnicalStaff}}" data-purecounter-duration="1" class="purecounter"></span>
              <p><b>TECHNICAL STAFF</b></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{information.YearsOfExperience}}" data-purecounter-duration="1" class="purecounter"></span>
              <p><b>YEARS OF EXPERIENCE</b></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <!-- <i class="fas fa-flask"></i> -->
              <i class="bi bi-person-plus-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{information.NumberOfSatisfiedClient}}  " data-purecounter-duration="1" class="purecounter"></span> 
              <p><b>NUMBER OF SATISFIED CLIENTS</b></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0"> 
            <div class="count-box">
              <i class="bi bi-geo-alt-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{information.StatesCoveredInIndia}}" data-purecounter-duration="1" class="purecounter"></span>
              <p><b>STATES COVERED IN INDIA</b></p>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    </section><!-- End Counts Section -->   