{% extends 'site2_instrument/base_site2.html' %}

{% load static %}

{% block content %}

{% include 'site2_instrument/project/header.html' %}
<br><br><br><br><br><br><br>

<div class="container">
<div class="jumbotron">
    <h1 style="text-align:center;" class="display-4">Product page!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <div class="container">
        <div class="row col-12">
          <table class="table">
            <thead class="table-dark">
              <tr>
                {% for pro in products %}
                  <th scope="col">{{ pro.name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="#">Sub Category</a>
                </td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
              </tr>
              <tr>
                <td>
                  <a href="#">Sub Category</a>
                </td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
              </tr>
              <tr>
                <td>
                  <a href="#">Sub Category</a>
                </td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
              </tr>
              <tr>
                <td>
                  <a href="#">Sub Category</a>
                </td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
              </tr>
              <tr>
                <td>
                  <a href="#">Sub Category</a>
                </td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
              </tr>
              <tr>
                <td>
                  <a href="#">Sub Category</a>
                </td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
                <td><a href="#">Sub Category</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>



{% endblock content %}